
  
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

/* INICIO COR FUNDO */
body{
	width: 100%;
	background-image: linear-gradient(white,#d9d9d9);
}

.box{
	width: 100%;
	height: 100%;
	background-color: transparent;
}
/* fIM COR FUNDO */

/* --------------------------------------------------------------------------- */

/* INICIO NAV GERAL */
.navbar {
	width: 100%;
	height: 80px;
	background-color: #2B5CFF;
	color: black;
	font-size: 14px;
    text-transform: uppercase;
    text-shadow: black;
    font-weight: bold;
    font: Helvetica;
}

.navbar ul li {
	display: inline-block;
	color: black;
}
					
#logo {
    width: 100px;
    height: 70px;
}
/* FIM DO NAV GERAL */

/* -------------------------------------------------------------------------------- */

/* INICIO FOOTER GERAL */

footer{
	width: 100%;	
	height: auto;
	background-color: black;
	padding-top: 20px;
	margin-top: 40px;
	position: flex;
	bottom: 0;
}

i{
	color: #ffde59;
	padding-left: 8px;
}

.footer-copyright{
	background-color: black;
	color: gray;
	font-size: 14px;
}

footer ul {
	padding:0px;
    margin:0px;
	list-style:none;
	
}

footer ul li {
	padding-left:10px ;
	display: inline;
	color: #ffde59; 
}
/* FIM FOOTER GERAL */

/* ------------------------------------------------------------------------------ */

/* INÍCIO DO GRID */
.container {
	width: 100%;
	margin: 0 auto;
	padding: 0px;
	position: relative;
}

.container:after, .container:before {
	content: " ";
	display: table;
}

.container:after {
	clear: both;
}
/* FIM DO GRID */

/* ------------------------------------------------------------------------------------- */

/* -----------INICIO DA PAGINA HOME--------------- */
/* INICIO CARROSEL */
#carrosel{
    width: 100%;
    height: 300px;
    padding-top: 80px;
    margin-top: 10px;

}

.img_carrosel {
    width: 100%;
    height: 300px;
}
/* FIM CARROSEL */

/* INICIO LANÇAMENTOS */
.linha_produtos {
    text-align: center;
    padding-top: 80px;
}

.lancamento{
    float: left;
}

.img_alinhamento {
    text-align: center;
}

.img_lancamento {
    width: 200px;
    height: 250px;
}
/* FIM LANÇAMENTOS */

/* INICIO BANNER */
#banner{
    width: 100%;
    height: 300px;
}
/* FIM BANNER */

/* INICIO DA COSTUMIZAÇÃO DOS BOTÕES */
.botao_home {
	background-color: transparent;
	padding: 4px;
	box-shadow: 2px 2px dimgray ; 
	border: black solid;
	font-size: 15px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: black;
	width: 200px;
}

.botao_home:hover {
	background-color: grey;
	box-shadow: 3px 3px #d4be63;
	border: #ffde59 solid;
	color: #ffde59;
}
/* FIM DA COSTUMIZAÇÃO DOS BOTÕES */
/* -----------FIM DA PAGINA HOME--------------- */

/* ------------------------------------------------------------------------- */

/* ----------INICIO DA PAGINA SOBRE------------ */
/* INÍCIO MAIN */
#tema_equipe {
	margin-top: 55px;
	margin-bottom: 65px;
}

.infor_direita {
	height: 250px;
	width: 100%;
	margin-top: 40px;	
}

.infor_esquerda {
	height: 250px;
	width: 100%;
	margin-top: 40px;
}

.tema_sobre {
	text-align: center;
	padding-top: 10px;

}

.foto_grupo {
	width: 220px;
	height: 220px;
	border-radius: 50%;
}

.foto_direita {
	float: right;	
}

.texto_direita{
	text-align: end;
}

.aparecer {
	display: none;
}
/* FIM MAIN */

@media(max-width: 700px){

	/* INÍCIO MAIN */
	#tema_equipe {
		margin-top: 55px;
		margin-bottom: 65px;
		text-align: center;
		padding: 15px;
	}

	.infor_direita {
		width: 100%;
		height: auto;
		margin-top: 40px;
		text-align: center;
	}

	.texto_direita{
		text-align: center;
	}
	
	.foto_direita {
		float: none;
	}

	.reposicao{
		position: absolute;
		bottom: 0;
	}

	.infor_esquerda {		
		width: 100%;
		height: auto;
		margin-top: 80px;
		clear: both;
		text-align: center;
	}

	.tema_sobre {
		text-align: center;
		padding-top: 10px;
	}

	.foto_grupo {
		width: 150px;
		height: 150px;
		border-radius: 50%;
	}

	.aparecer{
		display: block;
	}

	.sumir {
		display: none;
	}

	/* FIM MAIN */

}
/* ----------FIM DA PAGINA SOBRE------------ */

/* -------------------------------------------------------------------------- */

/* ---------INICIO DA PAGINA CONTATO------------- */
.campos_contato {
    display: flex;
    width: 100%;
	margin-bottom: 15px;
	
	
}
.icone_contato {
    padding: 15px;
    background: black;
    color: white;
    min-width: 50px;
    text-align: center;
}
.cor_input_contato {
    border: 2px solid rgb(169, 169, 169);
    width: 100%;
    padding: 10px;
    outline: none;
}
.cor_input_contato:focus {
    border: 2px solid rgb(255, 204, 0);
}

.formulario{
    float: left;
    width: 30%;
	margin-left: 10%;
	
}
.caixa_mensagem{
    border: 2px solid rgb(169, 169, 169);;
}
.caixa_mensagem:focus{
    border: 2px solid rgb(255, 204, 0);
    box-shadow: none;
}
#selecao_contato:focus{
    border-bottom: 2px solid white;
}
#pencil1{
    padding-top: 95px;
}
#observacao {
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 0;
}
#box_contato {
    margin-bottom: 20px;
    clear: both;
}

#img_contato {
    width: 450px;
    height: 350px;
	padding-top: 25px;
	
}

@media(max-width: 700px){
	#img_contato {
		display: none;
		
	}
}
/* ---------FIM DA PAGINA CONTATO------------- */

/* --------------------------------------------------------------------------------- */

/* ------------INICIO DA PAGINA CADASTRO--------- */
#form_cadastro div {
    margin-top: 1em;
}

.formatacao_input {
    /* display: block; */
    width: 30%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-left: 10px;
}

.caixa_cadastro {
    text-align: center;
}

.label_cadastro{
    display: inline-block;
    width: 150px;
    text-align: right;
}

.campo_cadastro {
    padding-right: 150px;
}

#cadastro {
	padding-top: 80px;
}

#cnpj{
    display: none;
}

#map_contato iframe {
	width: 600px;
	height: 205px;
	margin-top: 61px;
	margin-left: 60px;
}

/* -------------FIM DA PAGINA CADASTRO---------- */

/* --------------------------------------------------------------------------------- */

/* --------------INICIO DA PAGINA FAQ------------ */

/* #faq{
	margin-top: 120px;
	background-color: transparent;
}
.accordion_faq {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
  }
  
.active, .accordion_faq:hover {
	background-color: #ccc; 
}
.accordion_faq:after {
  content: '\02795'; 
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}
.panel_faq {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
} */
 /* --------------FIM DA PAGINA FAQ------------ */

 /* ----------------------------------------------------------------------- */

 /* --------------INICIO DA PAGINA POLITICA------------ */
/* .accordion_politica {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}
.active, .accordion_politica:hover {
  background-color: #ccc; 
}
.accordion_politica:after {
  content: '\02795';
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2796";
}
.panel_politica {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
#politica {
	padding-top: 90px;
} */
 /* --------------FIM DA PAGINA POLITICA------------ */

 /* ------------------------------------------------------------------------- */

