<div id="imagemCima" class="card bg-dark text-white">
    <img src="../../assets/img/paginaHoteis/banner.jpeg" class="card-img" alt="...">
    <div class="card-img-overlay">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
        <p class="card-text"></p>
    </div>
</div>

<div id="caixaDestino">
<form>
    <select id="destino" name="cars" class="custom-select">
      <option selected>Selecione sua Origem: </option>
      <option value="miami">Cancun</option>
      <option value="lasvegas">Grécia</option>
      <option value="orlando">Las Vegas</option>
      <option value="riodejaneiro">Maceió</option>
      <option value="salvador">Miami</option>
      <option value="maceio">Orlando</option>
      <option value="grecia">Paris</option>
      <option value="paris">Rio de Janeiro</option>
      <option value="cancun">Salvador</option>
    </select>
  </form>

  <form>
    <select id="destino" name="cars" class="custom-select">
      <option selected>Selecione o seu Destino: </option>
      <option value="miami">Cancun</option>
      <option value="lasvegas">Grécia</option>
      <option value="orlando">Las Vegas</option>
      <option value="riodejaneiro">Maceió</option>
      <option value="salvador">Miami</option>
      <option value="maceio">Orlando</option>
      <option value="grecia">Paris</option>
      <option value="paris">Rio de Janeiro</option>
      <option value="cancun">Salvador</option>
    </select>
    
       <br> <br> <br> 
       <label id="date" for="diaa">Informe a data da Ida:</label>
        <input type="date" id="diaa" name="diaa">
        <label id="date" for="diaa">Informe a data de Volta:</label>
        <input type="date" id="diaa" name="diaa">
      
  </form>
  <button id="botaoPesquisa">Pesquisar</button>
  </div>
  
  

 

<div id="container2" class="container">
    <div class="row">
        <div class="col-md12 mt-5 mb-4">
            <h3 class="display-5">Hotéis em Destaque: </h3>
        </div>
    </div>
</div>

<div class="container-fluid row m-0 mt-4" id="alinhacardsofertas">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/img/paginaHoteis/hotelMiami.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title nomeproduto"><strong>Boulevard Hotel - Miami<br> <h6>Diárias a partir de:</h6></strong></h5>
                    
                    <div class="card-text de"><s><strong>De: R$ 1.199,00</strong></s></div>
                    <div class="por">
                        <p><strong>Por: R$ 999,00</strong></p>
                    </div>
                    <p><a href="#" class="btn btn-success botaocomprar">Comprar</a></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/img/paginaHoteis/bellagioHotelVegas.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title nomeproduto"><strong>Bellagio Hotel - Vegas<br> <h6>Diárias a partir de:</h6></strong></h5>
                    <div class="card-text de"><strong><s>De: R$ 1.299,00</s></strong></div>
                    <div class="por">
                        <p><strong>Por: R$ 1.1999,00</strong></p>
                    </div>
                    <p><a href="#" class="btn btn-success botaocomprar">Comprar</a></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/img/paginaHoteis/bestWesternOrlandoGateway Hotel.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title nomeproduto"><strong>Best Western - Orlando<br> <h6>Diárias a partir de:</h6></strong></h5>
                    <div class="card-text de"><s><strong>De: R$ 599,00</strong></s></div>
                    <div class="por">
                        <p><strong>Por: R$ 399,00</strong></p>
                    </div>
                    <p><a href="#" class="btn btn-success botaocomprar">Comprar</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="container2" class="container">
    <div class="row">
        <div class="col-md12 mt-5 mb-4">
            <h3 class="display-5">Hotéis Nacionais: </h3>
        </div>
    </div>
</div>

<div class="container-fluid row m-0 mt-4" id="alinhacardsofertas">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/img/paginaHoteis/copacabanaPalaceRio.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title nomeproduto"><strong>Copacabana Palace - Rio<br> <h6>Diárias a partir de:</h6></strong></h5>
                    <div class="card-text de"><s><strong>De: R$ 1.499,00</strong></s></div>
                    <div class="por">
                        <p><strong>Por: R$ 1.199,00</strong></p>
                    </div>
                    <p><a href="#" class="btn btn-success botaocomprar">Comprar</a></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/img/paginaHoteis/BahiamarSalvador.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title nomeproduto"><strong>Bahiamar - Salvador<br> <h6>Diárias a partir de:</h6></strong></h5>
                    <div class="card-text de"><strong><s>De: R$ 599,00</s></strong></div>
                    <div class="por">
                        <p><strong>Por: R$ 399,00</strong></p>
                    </div>
                    <p><a href="#" class="btn btn-success botaocomprar">Comprar</a></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/img/paginaHoteis/TambaquipraiaHotelMaceio.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title nomeproduto"><strong>Tambaqui Hotel - Maceió <br> <h6>Diárias a partir de:</h6></strong></h5>
                    <div class="card-text de"><s><strong>De: R$ 499,00</strong></s></div>
                    <div class="por">
                        <p><strong>Por: R$ 259,00</strong></p>
                    </div>
                    <p><a href="#" class="btn btn-success botaocomprar">Comprar</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="container2" class="container">
    <div class="row">
        <div class="col-md12 mt-5 mb-4">
            <h3 class="display-5">Hotéis Internacionais: </h3>
        </div>
    </div>
</div>

<div class="container-fluid row m-0 mt-4" id="alinhacardsofertas">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/img/paginaHoteis/HotelParisLafayette.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title nomeproduto"><strong>Lafayette Hotel - Paris<br> <h6>Diárias a partir de:</h6></strong></h5>
                    <div class="card-text de"><s><strong>De: R$ 699,00</strong></s></div>
                    <div class="por">
                        <p><strong>Por: R$ 499,00</strong></p>
                    </div>
                    <p><a href="#" class="btn btn-success botaocomprar">Comprar</a></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/img/paginaHoteis/HotelEmporioCancun.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title nomeproduto"><strong>Hotel Emporio - Cancun<br> <h6>Diárias a partir de:</h6></strong></h5>
                    <div class="card-text de"><strong><s>De: R$ 499,00</s></strong></div>
                    <div class="por">
                        <p><strong>Por: R$ 399,00</strong></p>
                    </div>
                    <p><a href="#" class="btn btn-success botaocomprar">Comprar</a></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/img/paginaHoteis/SantoriniPrincessSpaHotelGrecia.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title nomeproduto"><strong>Santorini Hotel - Grécia<br> <h6>Diárias a partir de:</h6></strong></h5>
                    <div class="card-text de"><s><strong>De: R$ 1.199,00</strong></s></div>
                    <div class="por">
                        <p><strong>Por: R$ 999,00</strong></p>
                    </div>
                    <p><a href="#" class="btn btn-success botaocomprar">Comprar</a></p>
                </div>
            </div>
        </div>
    </div>
</div>