<div id="container" class="container">
<div>
    <!--sobre o feiraoonline-->
    <div class="row" id="quemSomos">

        <div class="col-md-12 ">
            <h1 id="tituloPrincipal" ><strong> Sobre a PRViagens.com</strong><br></h1>
            <br>
            <br>
            <h4><strong><u> Nossa História: </u></strong></h4>
        </div>
    </div> 
    <!--quem somos-->
    <div class="row">
        <div class="col-md-3">  

        </div> 
        <div class="col-md-6"> 
            <h2 id="titulo"> <strong>Quem somos</strong> </h2> 
            <p id="apresentacao" >
                A PRViagens foi fundada em 2020 na Cidade de São Paulo, somos uma das maiores empresas de
                viagens do Brasil.
                <br>
                
                Surgindo com o intuito de ajudar os clientes a se hospedarem nos melhores hotéis com maior facilidade. Temos como objetivo realizar
                hospedagens rápidas com eficácia, facilitando o acesso do cliente a essas informações.
                <br>
                Nossa maior missão é trazer para os nossos clientes mais comodidade, facilitando a sua viagem.
        </div>

        <div class="col-md-3">
        </div>
    </div>
</div>

<div>
    <div class="row">
        <div class="col-md-12" id="parallax">

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12" id="nossoTime">
        <h2>Nosso Time</h2>
    </div>
</div>

<div class="container">
    <div class="row">

        <div class="col-md-4 hoverzoom" id="perfil">
           
                <img src="../../assets/img/equipe/Erick.jpeg" class="" id="img-circle" alt="perfil">
                <div class="retina">
                    <a blank href="https://www.linkedin.com/in/eric-freitas-6398b2188/" target="_blank">Linkedin</a>
                </div>
            
        </div>

        <div class="col-md-8">
            <p class="bio">
                Eric Leão, 19 anos, nascido em Suzano, auxiliar administrativo na Movida Locação de Veículos, formado em Automação Industrial, onde teve seu primeiro contato com programação de dispositivos CLP. Desde então, procura evoluir na área tecnológica com o objetivo de ingressar no mercado de trabalho. Seus hobbies são jogar videogame, fazer ciclismo e tocar instrumentos.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 hoverzoom" id="perfil">
            <img src="../../assets/img/equipe/João.jpeg" id="img-circle" alt="perfil"/>
            <div class="retina">
                <a blank href="https://www.linkedin.com/in/joaolimabrr" target="_blank">Linkedin</a>
            </div>
        </div>
        <div class="col-md-8">
            <p class="bio">
                João Lima, 20 anos Engenheiro de Software no Banco Itaú, natural da cidade de São Paulo, estudante de Analise e desenvolvimento de sistemas, conheceu
                tecnologia aos seu 18 anos
                e desde então se engaja em estudar e inovar, utilizando seu conhecimentos.
                João gosta de praticar diversos esportes como Futebol, Karate e Motocross.
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 hoverzoom" id="perfil"><img src="../../assets/img/equipe/Lucas.jpeg" id="img-circle" alt="perfil">
            <div class="retina">
                <a blank href="https://www.linkedin.com/in/lucas-garcia-bailer-21661a182/" target="_blank">Linkedin</a>
            </div>
        </div>
        <div class="col-md-8">
            <p class="bio">
                Lucas Garci Bailer, 27 anos, faz estagio em suporte de programação e banco de dados,
                 estudante de Analise e Desenvolvimento de Sistemas. Lucas trabalhava em uma linha de 
                 montagem de paineis eletricos, onde começou a estudar engenharia, com isso conhecendo
                a programação, mudando então seu foco profissional. Nascido em São Paulo, sempre buscando
                o que é certo, e se dedicando cada dia mais em concluir seus planos e suas metas.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 hoverzoom" id="perfil"><img src="../../assets/img/equipe/Matheus.jpeg" id="img-circle" alt="perfil">
            <div class="retina">
                <a blank href="https://www.linkedin.com/in/matheus-alexandrino-6760481a5/" target="_blank">Linkedin</a>
            </div>
        </div>
        <div class="col-md-8">
            <p class="bio">
                Matheus Alexandrino, 19 anos, nascido na cidade de São Paulo, estudante de Analise e desenvolvimento de sistemas, ingressou na carreira porque tinha grande interresse na área de hacking, nas horas vagas Matheus gosta de ver séries e jogar vídeo game
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 hoverzoom" id="perfil"><img src="../../assets/img/equipe/Renato.jpeg" id="img-circle" alt="perfil">
            <div class="retina">
                <a blank href="https://www.linkedin.com/in/renato-cesar-fernandes-00353616b" target="_blank">Linkedin</a>
            </div>
        </div>
        <div class="col-md-8">
            <p class="bio">
                Renato Cesar Fernandes, 33 anos, estudante de Analise e desenvolvimento de sistemas, sou analista de contas médicas Senior, sou formado em Gestão de Recursos Humanos, estudei dois anos inglês  na wizard estou em busca de novas oportunidades na área de TI, gosto de praticar esportes e viajar.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 hoverzoom" id="perfil"><img src="../../assets/img/equipe/Samuel.jpeg" id="img-circle" alt="perfil">
            <div class="retina">
                <a blank href="https://www.linkedin.com/in/samuel-firmino-tavares-dos-santos-a727b2167/" target="_blank">Linkedin</a>
            </div>
        </div>
        <div class="col-md-8">
            <p class="bio">
                Samuel Firmino, 19 anos, estudante de Analise e desenvolvimento de sistemas está sempre à procura de novidades tecnológicas e do conhecimento. Familiarizado com o desenvolvimento de sistemas desde os 15 anos, Samuel atualmente tem como objetivo adquirir experiências profissionais e transpassar os conhecimentos obtidos. Seus Hobbies são praticar esportes, jogar vídeo game e viajar.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 hoverzoom" id="perfil"><img src="../../assets/img/equipe/Willian.jpeg" id="img-circle" alt="perfil">
            <div class="retina">
                <a blank href="https://www.linkedin.com/in/willian-jhonatan-felix-rocha-5584621a4/" target="_blank">Linkedin</a>
            </div>
        </div>
        <div class="col-md-8">
            <p class="bio">
                Willian Jhonatan, 24 anos, engajado com o projeto, visa trazer mais comodidade e acessibilidade aos seus clientes, mas principalmente conseguir de alguma forma fazer a diferença na vida das pessoas. Nascido na cidade de São Paulo, estudante de Analise e desenvolvimento de sistemas, atuou também no mercado de Telecomunicações. O Willian acredita que através da tecnologia conseguirá facilitar e melhorar a vida das pessoas.
            </p>
        </div>
    </div>
</div>
</div>