
    <div id="imagemCima" class="card bg-dark text-white">
        <img src="../../assets/img/paginaCruzeiros/banner.jpeg" class="card-img" alt="...">
        <div class="card-img-overlay">
            <h5 class="card-title"></h5>
            <p class="card-text"></p>
            <p class="card-text"></p>
        </div>
    </div>

<div class="container">
    <div id="container2" class="container">
        <div class="row">
            <div class="col-md12 mt-5 mb-4">
                <h3 id="tituloCard" class="display-5"><strong>Melhor Preço:</strong></h3>
            </div>
        </div>
    </div>

    <div id="primeiroCard" class="card mb-2" style="max-width: 900px;;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img id="imagemCard1" src="../../assets/img/paginaCruzeiros/card1.jpeg" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p id="cardtitle" class="card-title"><u><strong>SOBERANO</strong></u></p>
              <p><strong>DESTINOS: </strong> <br> Barcelona, Recife, Salvador e Santo.</p>
              <p class="card-title"><strong>SAÍDAS</strong></p>
              <p> 2020 - Novembro e Dezembro.
                <br>2021 - Janeiro, Fevereiro e Março.</p>
              
              <div id="botao">
                  <p id="paragrafo">Cabines em até 10x</p>
              <a href="http://localhost:4200/cruzeiros" class="btn btn-primary">Ver  Detalhes</a>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div id="container3" class="container">
        <div class="row">
            <div class="col-md12 mt-5 mb-4">
                <h3 id="tituloCard" class="display-5"><strong>MSC Cruzeiros: </strong></h3>
            </div>
        </div>
    </div>

    <div id="primeiroCard" class="card mb-3" style="max-width: 900px;;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img id="imagemCard1" src="../../assets/img/paginaCruzeiros/msc1.jpeg" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p id="cardtitle" class="card-title"><u><strong>MSC POESIA</strong></u></p>
              <p><strong>PRINCIPAIS DESTINOS: </strong> <br> Punta del Leste, Montevidéu e Buenos Aires.</p>
              <p class="card-title"><strong>SAÍDAS</strong></p>
              <p> 2020 - Novembro e Dezembro.
                <br>2021 - Janeiro, Fevereiro e Março.</p>
              
              <div id="botao">
                  <p id="paragrafo">Cabines em até 10x</p>
              <a href="http://localhost:4200/cruzeiros" class="btn btn-primary">Ver  Detalhes</a>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div id="primeiroCard" class="card mb-3" style="max-width: 900px;;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img id="imagemCard1" src="../../assets/img/paginaCruzeiros/msc2.jpeg" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p id="cardtitle" class="card-title"><u><strong>MSC FANTASIA</strong></u></p>
              <p><strong>DESTINOS: </strong> <br> Ilhéus, Ilha Grande, Búzios, Buenos Aires, Rio de Janeiro e Salvador.</p>
              <p class="card-title"><strong>SAÍDAS</strong></p>
              <p> 2020 - Novembro e Dezembro.
                <br>2021 - Janeiro, Fevereiro e Março.</p>
              
              <div id="botao">
                  <p id="paragrafo">Cabines em até 10x</p>
              <a href="http://localhost:4200/cruzeiros" class="btn btn-primary">Ver  Detalhes</a>
                </div>
            </div>
          </div>
        </div>
      </div>
      
      <div id="container3" class="container">
        <div class="row">
            <div class="col-md12 mt-5 mb-4">
                <h3 id="tituloCard" class="display-5"><strong>Zona Leste Cruzeiros: </strong></h3>
            </div>
        </div>
    </div>

    <div id="primeiroCard" class="card mb-3" style="max-width: 900px;;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img id="imagemCard1" src="../../assets/img/paginaCruzeiros/disney1.jpeg" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p id="cardtitle" class="card-title"><u><strong>ITAQUERÃO</strong></u></p>
              <p><strong>PRINCIPAIS DESTINOS: </strong> <br> Estação de Guaianases, Sé, Itaquera e República.</p>
              <p class="card-title"><strong>SAÍDAS</strong></p>
              <p> 2020 - Setembro, Outubro, Novembro e Dezembro.
                <br>2021 - Janeiro, Fevereiro, Março, Abril e Maio.</p>
              
              <div id="botao">
                  <p id="paragrafo">Cabines em até 10x</p>
              <a href="http://localhost:4200/cruzeiros" class="btn btn-primary">Ver  Detalhes</a>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div id="primeiroCard" class="card mb-3" style="max-width: 900px;;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img id="imagemCard1" src="../../assets/img/paginaCruzeiros/disney2.jpeg" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p id="cardtitle" class="card-title"><u><strong>SANTOS</strong></u></p>
              <p><strong>DESTINOS: </strong> <br> Porto de Santos, Aquário e Vila Belmiro.</p>
              <p class="card-title"><strong>SAÍDAS</strong></p>
              <p> 2020 - Setembro, Outubro, Novembro e Dezembro
                <br>2021 - Janeiro, Fevereiro, Março, Abril e Maio</p>
              
              <div id="botao">
                  <p id="paragrafo">Cabines em até 10x</p>
              <a href="http://localhost:4200/cruzeiros" class="btn btn-primary">Ver  Detalhes</a>
                </div>
            </div>
          </div>
        </div>
      </div>
      

</div>