  <div id="imagemCima" class="card bg-dark text-white">
    <a href="http://localhost:4200/dicas">
    <img src="../../assets/img/paginaDicas/bannerdicas.jpeg" class="card-img" alt="...">
  </a>
    <div class="card-img-overlay">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
        <p class="card-text"></p>
    </div>
</div>


<div class="container">
  <h4 id="titulo"><strong>Confira algumas dicas da PRViagens para você:</strong></h4>
  <ul id="listaDicas1" class="list-group">
    <li id="titulo1" class="list-group-item active">Otimize a sua viagem!</li>
    <li class="list-group-item">1- Capriche na escolha do destino, pois devem ser considerados alguns fatores como clima, tempo
      que você terá para conhecer os pontos turísticos, dentre outros.</li>
      <li class="list-group-item">2- Pegue leve com sua mala! Prepare sua bagagens com inteligência, a fim de evitar desconfortos
        durante o passeio.</li>
        <li class="list-group-item">3- Elabore um roteiro. Descubra quais são suas maiores atrações do destino escolhido para que você
          consiga visitá-los sem nenhum problema.</li>
          <li class="list-group-item">4- Escolha uma hospedagem acessível e perto de pontos turísticos para ter um melhor proveito de tempo
            e economia para seu bolso!</li>
            <li class="list-group-item">5- Evite preocupações com redes sociais. Aproveite a viagem para se desligar de suas atividades rotineiras.
            </li>
              <li class="list-group-item">6- Escaneie seus documentos. É sempre bom ter mais de um método de identificação caso seja necessário.</li>
                <li class="list-group-item">7- interaja com as pessoas se possível, pois pode te trazer uma grande experiência e aprendizado.</li>
                  <li class="list-group-item">8- Cuide de sua alimentação para evitar problemas de saúde que possam comprometer a sua viagem.</li>
                </ul>
              <ul id="listaDicas2">
                  <li id="titulo2" class="list-group-item active">Dicas de Pagamento:</li>
                  <li class="list-group-item">1- No momento, o cartão de crédito e o boleto bancário são as opções de pagamento que
                    aceitamos. Isso porque, dessa forma, podemos fornecer um ambiente totalmente seguro para a
                    realização dos seus pagamentos.</li>
                  <li class="list-group-item">2- Os pedidos são emitidos pelo sistema depois da notificação do pagamento.
                    A compensação das cobranças feitas por cartão geralmente ocorre no mesmo dia. No entanto, no
                    caso dos pagamentos via boleto bancário, a finalização desse processo demora de dois a três
                    dias até que o sistema seja notificado..</li>
                    <li class="list-group-item">3- Caso precise refazer o pagamento da sua compra, acesse sua conta, clique
                      em pedidos e encontre a requisição com problemas no pagamento. Você precisará reagendar sua
                      compra e refazer o pagamento.</li>
                    
              </ul>
</div>