
<div id="imagemCima" class="card bg-dark text-white">
    <img src="../../assets/img/paginaResorts/eb0500e2-33df-4bb9-881a-45a6f945bf45.jpeg" class="card-img" alt="...">
    <div class="card-img-overlay">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
        <p class="card-text"></p>
    </div>
</div>

<div id="caixaDestino">
<form>
    <select id="destino" name="cars" class="custom-select">
      <option selected>Escolha o Local da Reserva: </option>
      <option value="miami">Cancun</option>
      <option value="lasvegas">Grécia</option>
      <option value="orlando">Las Vegas</option>
      <option value="riodejaneiro">Maceió</option>
      <option value="salvador">Miami</option>
      <option value="maceio">Orlando</option>
      <option value="grecia">Paris</option>
      <option value="paris">Rio de Janeiro</option>
      <option value="cancun">Salvador</option>
    </select>
  </form>

  <form>
   
    
       <br> <br> <br> 
       <label id="date" for="diaa">Informe a data de Entrada:</label>
        <input type="date" id="diaa" name="diaa">
        <label id="date" for="diaa">Informe a data de Saída:</label>
        <input type="date" id="diaa" name="diaa">
      
  </form>
  <button id="botaoPesquisa" class="box1">Reservar</button>
  </div>
  
  

 

<div id="container2" class="container">
    <div class="row">
        <div class="col-md12 mt-5 mb-4">
            <h3 class="display-5">Resorts em Destaque: </h3>
        </div>
    </div>
</div>

<div class="container-fluid row m-0 mt-4" id="alinhacardsofertas">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/img/paginaResorts/HiltonOrlandoResort.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title nomeproduto"><strong>Hilton Resort <br> Orlando<br> <h6>Diárias a partir de:</h6></strong></h5>
                    
                    <div class="card-text de"><s><strong>De: R$ 1.399,00</strong></s></div>
                    <div class="por">
                        <p><strong>Por: R$ 1.1999,00</strong></p>
                    </div>
                    <p><a href="http://localhost:4200/resorts" class="btn btn-success botaocomprar">Comprar</a></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/img/paginaResorts/Sheraton Grand Rio Hotel e Resorts.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title nomeproduto"><strong>Sheraton Grand Resort  Rio de Janeiro<br> <h6>Diárias a partir de:</h6></strong></h5>
                    <div class="card-text de"><strong><s>De: R$ 1.499,00</s></strong></div>
                    <div class="por">
                        <p><strong>Por: R$ 1.2999,00</strong></p>
                    </div>
                    <p><a href="http://localhost:4200/resorts" class="btn btn-success botaocomprar">Comprar</a></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/img/paginaResorts/Catussaba Resort Hotel Salvador.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title nomeproduto"><strong>Catussaba Resort  Salvador<br> <h6>Diárias a partir de:</h6></strong></h5>
                    <div class="card-text de"><s><strong>De: R$ 1.599,00</strong></s></div>
                    <div class="por">
                        <p><strong>Por: R$ 1.399,00</strong></p>
                    </div>
                    <p><a href="http://localhost:4200/resorts" class="btn btn-success botaocomprar">Comprar</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="container2" class="container">
    <div class="row">
        <div class="col-md12 mt-5 mb-4">
            <h3 class="display-5">Resorts mais visados: </h3>
        </div>
    </div>
</div>

<div class="container-fluid row m-0 mt-4" id="alinhacardsofertas">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/img/paginaResorts/LiveAquaBeachResortCancun.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title nomeproduto"><strong>Aqua Beach Resort <br> Cancun <h6>Diárias a partir de:</h6></strong></h5>
                    <div class="card-text de"><s><strong>De: R$ 1.699,00</strong></s></div>
                    <div class="por">
                        <p><strong>Por: R$ 1.499,00</strong></p>
                    </div>
                    <p><a href="http://localhost:4200/resorts" class="btn btn-success botaocomprar">Comprar</a></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/img/paginaResorts/MauiKaanapaliresortHavai.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title nomeproduto"><strong>Maui Kaanapali Resort<br>Havai<h6>Diárias a partir de:</h6></strong></h5>
                    <div class="card-text de"><strong><s>De: R$ 599,00</s></strong></div>
                    <div class="por">
                        <p><strong>Por: R$ 399,00</strong></p>
                    </div>
                    <p><a href="http://localhost:4200/resorts" class="btn btn-success botaocomprar">Comprar</a></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/img/paginaResorts/SantaBarbaraBeachGolfResort.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title nomeproduto"><strong>Santa Barbara Resort <br> Caribe <h6>Diárias a partir de:</h6></strong></h5>
                    <div class="card-text de"><s><strong>De: R$ 1.499,00</strong></s></div>
                    <div class="por">
                        <p><strong>Por: R$ 1.259,00</strong></p>
                    </div>
                    <p><a href="http://localhost:4200/resorts" class="btn btn-success botaocomprar">Comprar</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="container2" class="container">
    <div class="row">
        <div class="col-md12 mt-5 mb-4">
            <h3 class="display-5">Resorts recomendados: </h3>
        </div>
    </div>
</div>

<div class="container-fluid row m-0 mt-4" id="alinhacardsofertas">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/img/paginaResorts/Sheraton Grand Rio Hotel e Resorts.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title nomeproduto"><strong>Sheraton Resort e Hotel <br>Rio de Janeiro<br> <h6>Diárias a partir de:</h6></strong></h5>
                    <div class="card-text de"><s><strong>De: R$ 1.359,00</strong></s></div>
                    <div class="por">
                        <p><strong>Por: R$ 1.199,00</strong></p>
                    </div>
                    <p><a href="http://localhost:4200/resorts" class="btn btn-success botaocomprar">Comprar</a></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img id="greciaImagem" class="card-img-top" src="../../assets/img/paginaResorts/ApanemaResortGrecia.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title nomeproduto"><strong>Apanema Resort <br> Grécia <h6>Diárias a partir de:</h6></strong></h5>
                    <div class="card-text de"><strong><s>De: R$ 499,00</s></strong></div>
                    <div class="por">
                        <p><strong>Por: R$ 399,00</strong></p>
                    </div>
                    <p><a href="http://localhost:4200/resorts" class="btn btn-success botaocomprar">Comprar</a></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img id="imagemMiami" class="card-img-top" src="../../assets/img/paginaResorts/bentleybeachMiamiResort.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title nomeproduto"><strong>Bentley Beach Resort<br>Miami <h6>Diárias a partir de:</h6></strong></h5>
                    <div class="card-text de"><s><strong>De: R$ 1.199,00</strong></s></div>
                    <div class="por">
                        <p><strong>Por: R$ 999,00</strong></p>
                    </div>
                    <p><a href="http://localhost:4200/resorts" class="btn btn-success botaocomprar">Comprar</a></p>
                </div>
            </div>
        </div>
    </div>
</div>