<footer id="footer" class="page-footer font-small pt-4">

  <!-- Footer Elements -->
  <div class="container">

    <div class="justify-content-center text-center ">
      <ul class="conteudo_footer">
          <a href="http://localhost:4200/home">
              <li> MAPA DO SITE</li>
          </a>
          <a href="http://localhost:4200/dicas">
              <li>DICAS</li>
          </a>
          <a href="http://localhost:4200/quem-somos">
              <li>QUEM SOMOS</li>
          </a>
          <a href="http://localhost:4200/contato">
              <li>CONTATO</li>
          </a>
      </ul>
      <br>
      <h6 id="redesSociais" style="color: white;">CONHEÇA NOSSAS REDES SOCIAIS</h6>
      <ul class="social-network">
        <li><a blank href="https://www.facebook.com/carlos.majer" target="_blank" class="icoFacebook" title="Facebook">
          
         <fa-icon id="face" [icon]="faFacebook" class="faFacebook fa-3x p-3"></fa-icon>
         
         </a></li>
        <li><a blank href="https://www.instagram.com/carlosmajer/?hl=pt-br" target="_blank" class="icoInstagram" title="Instagram">
          <fa-icon id="face" [icon]="faInstagram" class="faInstagram fa-3x p-3"></fa-icon>
         </a></li>

         <li><a blank href="https://www.linkedin.com/in/carlos-majer-1348277/" target="_blank" class="icoLinkedin" title="Linkedin">
          
          <fa-icon id="face" [icon]="faLinkedin" class="faLinkedin fa-3x p-3"></fa-icon>
          
          </a></li>

         
       </ul>
        <span id="copy" class="text-light"> © 2020 Copyright </span> 
        <a class="text-light" href="http://localhost:4200/home">PR Viagens</a>
  </div>
  

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">            
    </div>
    </div>
  </div>
</footer>

