#imagemCima{
    margin-top: 80px;
    border-radius: 1px;
    
}

#destino{
    margin-top: 20px;
    margin-left: 275px;
    width: 250px;
    float: left;
    
    
    
}
#caixaDestino{
    border: black 5px;
    border-radius: 2px;
    border-style: double;
    border-width: 1px;
    width: 800px;
    margin-left: 280px;
    margin-top: 250px;
    align-items: center;
}
#date{
    margin-left: 25px;
    margin-bottom: 30px;
}
#botaoPesquisa{
    
    
    margin-left: 41%;
    margin-bottom: 15px;
    width: 150px;
}

#diaa{
    margin-left: 10px;
}
#basic-addon1{
    float: right;
    margin-top: 30px;
    width: 150px;
    margin-right: 50%;
}
#texto{
    margin-top: 30px;
    margin-right: 47%;
    height: 38px;
    float: right;
}

#container2{
    margin-top: 190px;

}

#container3{
    margin-top: 90px;

}

#containerPacotesDestaque{
    width: 100%;
    padding-top: 15px;
    margin-bottom: 10px;
    color: black;
    text-align: center;
    border-radius: 10px;
    font-family: Helvetica;
}

#fiatStilo{
    height: 220px;
}

#fiat500{
    height: 220px;
}

#pajero{
    height: 220px;
}

#camaro{
    height: 220px;
}

#alinhacardsofertas {
    
    margin-top: 2%;
    justify-content: center;
}
#alinhacardsadicionados {
    margin-top: 2%;
    justify-content: center;
}
#alinhacategoria {
    margin-top: 1%;
    margin-left: 2px;
}

 
#tituloadicionados {
    color: black;
    padding: 4px;
    background: #2B5CFF;
    color: white;
    text-align: center;
    border-radius: 10px;
    font-family: Helvetica;
}
#titulocategoria {
    color: black;
    padding: 4px;
    background: #2B5CFF;
    color: white;
    text-align: center;
    border-radius: 10px;
    font-family: Helvetica;
}


.botaocomprar {
    background-color: #2B5CFF;
    margin-left: 33%;
    font-family: Helvetica;
    border-color: #2B5CFF;
}
.de {
    color: gray;
    text-align: center;
    font-family: Helvetica;
}
.por {
    color: #2B5CFF;
    text-align: center;
    padding-top: 1%;
    font-family: Helvetica;
}
.preco{
    color: #2B5CFF;
    text-align: center;
    font-family: Helvetica;   
}
.nomeproduto{
    color: black;
    text-align: center;
    font-family: Helvetica;
}


#botaocategoriafruta{
    margin-left: 38%;
    font-family: Helvetica;
}
#botaocategoriaverdura{
    margin-left: 35%;
    font-family: Helvetica;
}
#botaocategorialegume{
    margin-left: 35%;
    font-family: Helvetica;   
}


#carrossel1 {
    font-family: Helvetica;
    text-shadow: 0.1em 0.1em black;
}
#subtitulo1{
    text-shadow: 0.1em 0.1em black;
    padding-bottom: 4%;
}
#carrossel2 {
    font-family: Helvetica;
    text-shadow: 0.1em 0.1em black;
}
#subtitulo2{
    text-shadow: 0.1em 0.1em black;
    padding-bottom: 4%;
}
#carrossel3 {
    font-family: Helvetica;
    text-shadow: 0.1em 0.1em black;
}
#subtitulo3 {
    text-shadow: 0.1em 0.1em black;
    padding-bottom: 4%;
}
.h {
    height: 450px;
}

#greciaImagem{
    height: 220px;
}

#imagemMiami{
    height: 220px;
}
#imagemCima{
    height: 220px;
}