<div id="imagemCima" class="card bg-dark text-white">
    <img src="../../assets/img/paginaPacotes/banner.jpeg" class="card-img" alt="...">
    <div class="card-img-overlay">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
        <p class="card-text"></p>
    </div>
</div>

<div id="container2" class="container">
    <div class="row">
        <div class="col-md12 mt-5 mb-4">
            <h3 class="display-5">Pacotes em Destaque: </h3>
        </div>
    </div>
</div>

<div class="container-fluid row m-0 mt-4" id="alinhacardsofertas">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/img/paginaPacotes/card1.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title nomeproduto"><strong>Pacote Miami - 2020 <br> <h6>Aereo + Hospedagem</h6></strong></h5>
                    
                    <div class="card-text de"><s><strong>De: R$ 999,00</strong></s></div>
                    <div class="por">
                        <p><strong>Por: R$ 799,00</strong></p>
                    </div>
                    <p><a href="#" class="btn btn-success botaocomprar">Comprar</a></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/img/paginaPacotes/lasvegas.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title nomeproduto"><strong>Pacote Las Vegas 2020<br> <h6>Aereo + Hospedagem</h6></strong></h5>
                    <div class="card-text de"><strong><s>De: R$ 1.199,00</s></strong></div>
                    <div class="por">
                        <p><strong>Por: R$ 999,00</strong></p>
                    </div>
                    <p><a href="#" class="btn btn-success botaocomprar">Comprar</a></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/img/paginaPacotes/orlando.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title nomeproduto"><strong>Pacote Orlando - Disney<br> <h6>Aereo + Hotel</h6></strong></h5>
                    <div class="card-text de"><s><strong>De: R$ 1.599,00</strong></s></div>
                    <div class="por">
                        <p><strong>Por: R$ 1.269,00</strong></p>
                    </div>
                    <p><a href="#" class="btn btn-success botaocomprar">Comprar</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="container2" class="container">
    <div class="row">
        <div class="col-md12 mt-5 mb-4">
            <h3 class="display-5">Pacotes Nacionais: </h3>
        </div>
    </div>
</div>

<div class="container-fluid row m-0 mt-4" id="alinhacardsofertas">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/img/paginaPacotes/rio.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title nomeproduto"><strong>Pacote Rio de Janeiro<br> <h6>Aereo + Hotel</h6></strong></h5>
                    <div class="card-text de"><s><strong>De: R$ 999,00</strong></s></div>
                    <div class="por">
                        <p><strong>Por: R$ 699,00</strong></p>
                    </div>
                    <p><a href="#" class="btn btn-success botaocomprar">Comprar</a></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/img/paginaPacotes/salvador.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title nomeproduto"><strong>Pacote Bahia - Salvador<br> <h6>Aereo + Hospedagem</h6></strong></h5>
                    <div class="card-text de"><strong><s>De: R$ 1.199,00</s></strong></div>
                    <div class="por">
                        <p><strong>Por: R$ 899,00</strong></p>
                    </div>
                    <p><a href="#" class="btn btn-success botaocomprar">Comprar</a></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/img/paginaPacotes/maceio.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title nomeproduto"><strong>Pacote Maceio 2020 <br> <h6>Aereo + Hotel</h6></strong></h5>
                    <div class="card-text de"><s><strong>De: R$ 799,00</strong></s></div>
                    <div class="por">
                        <p><strong>Por: R$ 599,00</strong></p>
                    </div>
                    <p><a href="#" class="btn btn-success botaocomprar">Comprar</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="container2" class="container">
    <div class="row">
        <div class="col-md12 mt-5 mb-4">
            <h3 class="display-5">Pacotes Internacionais: </h3>
        </div>
    </div>
</div>

<div class="container-fluid row m-0 mt-4" id="alinhacardsofertas">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/img/paginaPacotes/paris.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title nomeproduto"><strong>Pacote França - Paris<br> <h6>Aereo + Hospedagem</h6></strong></h5>
                    <div class="card-text de"><s><strong>De: R$ 3.599,00</strong></s></div>
                    <div class="por">
                        <p><strong>Por: R$ 3.299,00</strong></p>
                    </div>
                    <p><a href="#" class="btn btn-success botaocomprar">Comprar</a></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/img/paginaPacotes/cancun.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title nomeproduto"><strong>Pacote Cancun<br> <h6>Aereo + Hotel</h6></strong></h5>
                    <div class="card-text de"><strong><s>De: R$ 7.299,00</s></strong></div>
                    <div class="por">
                        <p><strong>Por: R$ 5.999,00</strong></p>
                    </div>
                    <p><a href="#" class="btn btn-success botaocomprar">Comprar</a></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/img/paginaPacotes/grecia.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title nomeproduto"><strong>Pacote Grécia<br> <h6>Aereo + Hospedagem</h6></strong></h5>
                    <div class="card-text de"><s><strong>De: R$ 2.799,00</strong></s></div>
                    <div class="por">
                        <p><strong>Por: R$ 2.499,00</strong></p>
                    </div>
                    <p><a href="#" class="btn btn-success botaocomprar">Comprar</a></p>
                </div>
            </div>
        </div>
    </div>
</div>