<div id="box" class="container">
    
  <!-- NAV-->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top">           
      <a class="navbar-brand" href="http://localhost:4200/home"><img id="logo" src="../../assets/img/Logotipo.png" alt="logo do site"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div id="nav" class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <a class="nav-link" href="http://localhost:4200/hoteis">Hotéis</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="http://localhost:4200/pacotes">Pacotes</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="http://localhost:4200/resorts">Resorts</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="http://localhost:4200/carros">Carros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:4200/cruzeiros">Cruzeiros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:4200/dicas">Dicas de Viagens</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/contato'">Contato</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:4200/quem-somos">Quem Somos</a>
      </li>
          </ul>
          <form id="login" class="form-inline">
              <a href="formulario.html"><button class="btn btn-sm btn-outline-dark " type="button">Cadastrar</button></a>
              <button class="btn btn-sm btn-outline-dark" type="button" style="margin-left:5px;">Login</button>
          </form>
          
          <form  id="pesquisa" class="form-inline my-2 my-lg-0">
                  <input  class="form-control mr-sm-2" type="search" placeholder="Pesquisar"aria-label="Search">
                  <button class="btn my-2 btn-dark bg-dark" type="submit">Pesquisar</button>
              </form>
      </div>
  </nav>
</div>
  <!-- FIM DO NAV -->