<div id="container" class="container">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img  src="../../assets/img/img1.jpeg" alt="Primeiro Slide">
      </div>
      <div class="carousel-item">
        <img  src="../../assets/img/img2.jpeg" alt="Segundo Slide">
      </div>
      <div class="carousel-item">
        <img  src="../../assets/img/img3.jpeg" alt="Terceiro Slide">
      </div>
      <div class="carousel-item">
        <img  src="../../assets/img/img4.jpeg" alt="Quarto Slide">
      </div>
      <div class="carousel-item">
        <img  src="../../assets/img/img5.jpeg" alt="Quinto Slide">
      </div>
      <div class="carousel-item">
        <img  src="../../assets/img/img6.jpeg" alt="Sexto Slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Próximo</span>
    </a>
  </div>
</div>


  <div class="container">
    <div class="row">
        <div class="col-md12 mt-5 mb-4">
            <h3 class="display-5">Hotéis, Pacotes e Resorts pelo melhor preço: </h3>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-4 col-lg-4 mt-4 col-sm-12 mb-4">

            <div class="card border-0 shadow">
                <img class="card-img-top" src="../../assets/img/cardHotal.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Hotéis</h5>
                    <p class="card-text">Clique aqui e saiba mais sobre Hotéis e promoções disponíveis.</p>
                    <a href="#" class="btn btn-primary">Saiba mais.</a>
                </div>
            </div>

        </div>
        <div class="col-md-4 col-lg-4 mt-4 mb-4 col-sm-12">

            <div class="card border-0 shadow">
                <img class="card-img-top" src="../../assets/img/cardPacotes.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Pacotes</h5>
                    <p class="card-text">Clique aqui e saiba mais sobre Pacotes e promoções disponíveis.</p>
                    <a href="#" class="btn btn-primary">Saiba mais.</a>
                </div>
            </div>


        </div>
        <div class="col-md-4 col-lg-4 mt-4 mb-5 col-sm-12">

            <div class="card border-0 shadow">
                <img class="card-img-top" src="../../assets/img/cardResort.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Resorts</h5>
                    <p class="card-text">Clique aqui e saiba mais sobre Resorts e promoções disponíveis.
                    </p>
                    <a href="#" class="btn btn-primary">Saiba mais.</a>
                </div>
            </div>
        </div>

        <div class="container">
          <div class="row">
              <div class="col-md12 mt-5 mb-4">
                  <h3 class="display-5">Carros, Cruzeiros e Dicas de Viagens: </h3>
              </div>
          </div>
          <div class="row text-center">
              <div class="col-md-4 col-lg-4 mt-4 col-sm-12 mb-4">
      
                  <div class="card border-0 shadow">
                      <img class="card-img-top" src="../../assets/img/cardCarro.jpeg" alt="Card image cap">
                      <div class="card-body">
                          <h5 class="card-title">Carros</h5>
                          <p class="card-text">Clique aqui e saiba mais sobre alugueis de Carros e promoções disponíveis.</p>
                          <a href="#" class="btn btn-primary">Saiba mais.</a>
                      </div>
                  </div>
      
              </div>
              <div class="col-md-4 col-lg-4 mt-4 mb-4 col-sm-12">
      
                  <div class="card border-0 shadow">
                      <img class="card-img-top" src="../../assets/img/carCruzeiro.jpeg" alt="Card image cap">
                      <div class="card-body">
                          <h5 class="card-title">Cruzeiros</h5>
                          <p class="card-text">Clique aqui e saiba mais sobre Cruzeiros e promoções disponíveis.</p>
                          <a href="#" class="btn btn-primary">Saiba mais.</a>
                      </div>
                  </div>
      
      
              </div>
              <div class="col-md-4 col-lg-4 mt-4 mb-5 col-sm-12">
      
                  <div class="card border-0 shadow">
                      <img class="card-img-top" src="../../assets/img/cardDicas.jpeg" alt="Card image cap">
                      <div class="card-body">
                          <h5 class="card-title">Dicas de Viagens</h5>
                          <p class="card-text">Clique aqui e veja algumas dicas de viegans que temos para você.
                          </p>
                          <a href="#" class="btn btn-primary">Saiba mais.</a>
                      </div>
                  </div>
              </div>